[submodule "EXTERNAL_HEADERS/nebld"]
	path = EXTERNAL_HEADERS/nebld
	url = git@github.com:ne-app-open/nebld.git
[submodule "EXTERNAL_HEADERS/RSL"]
	path = EXTERNAL_HEADERS/RSL
	url = git@github.com:ne-app/RSL.git
